
<div class="center jumbotron">
	<h1>Welcome to FakeBNB</h1>

	<h2>
		This is the home page for FakeBNB.
	</h2>

	<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>

  <% PropertyType.all.each do |property_type| %>
    <tr>
      <td><%= property_type.name %></td><br>
    </tr>
  <% end %>
  <% RoomType.all.each do |property_type| %>
    <tr>
      <td><%= property_type.name %></td><br>
    </tr>
  <% end %>
</div>


